.personal-assistant-statusbar:hover {
    color: #2fcc71;
}

.personal-assistant-statusbar {
    /* fill="#2fcc7099" */
    order: 1;
    color: #2fcc7099;
}

.plugin-swith-on-off-svg {
    top: 0.24em;
    position: relative;
    margin-right: 4px;
}

.resize-popover-width {
    --popover-width: var(--resize-popover-width);
}

.plugin-update-svg {
    position: relative;
    margin-right: 4px;
    align-self: center;
}

.meter {
    box-sizing: content-box;
    height: 14px;
    /* Can be anything */
    position: relative;
    margin: 1px 0 1px 0;
    /* Just for demo spacing */
    background: rgb(122, 122, 122);
    border-radius: 9px;
    padding: 1px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
    text-align: left;
    font-family: "Courier New", "Comic Mono";
    font-size: 13px;
    font-style: oblique 40deg;;
    color: brown;
    width: auto;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 37%,
            rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    width: auto;
}

.meter>span:after,
.animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
    z-index: 1;
    background-size: 40px 40px;
    animation: move 4s linear infinite;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    width: auto;
}

.animate>span:after {
    display: none;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.orange>span {
    background-image: linear-gradient(#f1a165, #f36d0a);
}

.red>span {
    background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes>span>span,
.nostripes>span::after {
    background-image: none;
}

.progress-bar-grid {
    display: grid;
    grid-template-columns: 9fr 1fr;
    column-gap: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.progress-bar-number {
    color: rgba(84, 240, 84, 0.69);
}

.progress-bar-notice {
    max-width: 480px !important;
    background-color: #363636;
    border: 0.08em dashed #ff00005e;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(172, 172, 172, 0.9),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
}

.progress-bar-items-grid {
    display: grid;
    grid-template-columns: 18px 9fr;
    grid-template-rows: repeat(auto-fill, 37px);
    column-gap: 8px;
}

.progress-bar-items-text {
    color: var(--text-normal);
    display: inline-block;
    height: 18px;
    align-self: center;
}