.personal-assistant-statusbar:hover {
    color: #2fcc71;
}

.personal-assistant-statusbar {
    /* fill="#2fcc7099" */
    order: 1;
    color: #2fcc7099;
}

.plugin-swith-on-off-svg {
    top: 0.24em;
    position: relative;
    margin-right: 4px;
}

.resize-popover-width {
    --popover-width: var(--resize-popover-width);
}

.plugin-update-svg {
    top: 0.36em;
    position: relative;
    margin-right: 4px;
}

.meter {
    box-sizing: content-box;
    height: 18px;
    /* Can be anything */
    position: relative;
    margin: 1px 0 1px 0;
    /* Just for demo spacing */
    background: rgb(122, 122, 122);
    border-radius: 9px;
    padding: 1px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
    text-align: left;
    font-family: "Comic Mono";
    font-size: 16px;
    font-style: italic;
    color: brown;
}

.meter>span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom,
            rgb(43, 194, 83) 37%,
            rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.meter>span:after,
.animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate>span:after {
    display: none;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.orange>span {
    background-image: linear-gradient(#f1a165, #f36d0a);
}

.red>span {
    background-image: linear-gradient(#f0a3a3, #f42323);
}

.nostripes>span>span,
.nostripes>span::after {
    background-image: none;
}

* {
    box-sizing: border-box;
}

.progress-bar-grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 12px;
}

.progress-bar-number {
    color: rgba(84, 240, 84, 0.69);
}