/* snippet from https://github.com/ceciliamay/obsidianmd-theme-primary */
/*──────────────────────────────────── Callouts ────────────────────────────────────*/
:root,body {
  /* Obsidian Defaults */
  --border-width: 1px;
  --scale-0-0: 0px;
  /* Multiples of 2 */
  --scale-2-1: 2px;
  --scale-2-2: 4px;
  --scale-2-3: 6px;
  --scale-2-4: 8px;
  --scale-2-5: 10px;
  --scale-2-6: 12px;
  --scale-2-8: 16px;
  --scale-2-9: 18px;
  --scale-2-10: 20px;
  --scale-2-18: 36px;
  /* Multiples of 8 */
  --scale-8-1: 8px;
  --scale-8-2: 16px;
  --scale-8-3: 24px;
  --scale-8-4: 32px;
  --scale-8-5: 40px;
  --scale-8-6: 48px;
  --scale-8-7: 54px;
  --scale-8-8: 64px;
  --scale-8-9: 72px;
  --scale-8-10: 80px;
  --scale-8-12: 96px;
  --scale-8-18: 144px;
  --scale-8-36: 288px;
  /*  Based on Standard 16px, Ratio 1.388  */
  --line-width: 700px;
  --line-height-0: 1em;
  --line-height-0-5: 1.2em;
  --line-height-1: 1.53em;
  /*──────────Duration, Transitions & Animations──────────*/
  /* Duration */
  --duration-none: 0;
  --duration-superfast: 70ms;
  --duration-fast-1: 140ms;
  --duration-fast-2: 260ms;
  --duration-moderate-1: 300ms;
  --duration-moderate-2: 440ms;
  --duration-slow-1: 560ms;
  --duration-slow-2: 600ms;
  /* Transitions & Animations */
  --motion-smooth: cubic-bezier(0.45,0.05,0.55,0.95); /* easeInOutSine */
  --motion-delay: cubic-bezier(0.65,0.05,0.36,1); /* easeInOutCubic */
  --motion-jumpy: cubic-bezier(0.68,-0.55,0.27,1.55); /* easeInOutBack */
  /* size */
  --editor-font-size: 16px;
  --callout-title-size: 1em;
}
/* Sizing Fixes */
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout {
    padding: 0;
}
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote, .markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote + .HyperMD-quote {
    padding: 0;
}
/* space for shadow */
.markdown-source-view.mod-cm6 .cm-embed-block.cm-callout {
    padding: 0;
    padding-bottom: 1px;
}
.callout {
    line-height: var(--line-height-1);
    border-radius: var(--scale-2-4);
    transition: var(--duration-superfast) var(--motion-smooth);
}
.markdown-source-view .callout {
    font-family: var(--font-text);
}
.markdown-source-view.mod-cm6 .callout {
    margin: 0 0;
    border-top-right-radius: var(--scale-2-4);
    border-bottom-right-radius: var(--scale-2-4);
}
.markdown-preview-view .callout {
    font-family: var(--font-text);
}
.callout-title {
    padding: var(--scale-2-4) 1em;
    border-top-right-radius: var(--scale-2-4);
    border-top-left-radius: var(--scale-2-4);
    margin-top: 0px !important;
    font-size: var(--callout-title-size) !important;
    font-variant-caps: unset !important;
}
.callout.is-collapsed .callout-title {
    border-bottom-left-radius: var(--scale-2-4);
    border-bottom-right-radius: var(--scale-2-4);
}
.callout-content {
    padding: var(--scale-0-0) 1em;
    border-bottom-right-radius: var(--scale-2-4);
    border-bottom-left-radius: var(--scale-2-4);
}
/* Nested Markdown Fixes */
.markdown-source-view.mod-cm6 .callout .callout {
    margin: var(--scale-8-2) var(--scale-0-0);
}
.callout .callout .callout-content {
    border-right: none;
    border-bottom: none;
}
.callout-icon svg, .callout-fold svg {
    height: var(--editor-font-size);
    width: var(--editor-font-size);
}
.callout-icon, .callout-fold {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* General Styling */
.callout {
    border: 1px solid rgba(0, 0, 0, );
    overflow: hidden;
}
.theme-light .callout {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
.theme-dark .callout {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.theme-light .callout-title {
    background: rgba(0, 0, 0, );
}
.theme-dark .callout-title {
    background: rgba(0, 0, 0, );
}
.theme-light .callout-title .callout-icon {
    filter: brightness(0.75);
}
.theme-dark .callout-title .callout-icon {
    filter: brightness(1);
}
.theme-light .callout.is-collapsed .callout-title {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.theme-dark .callout.is-collapsed .callout-title {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.175) inset;
}
.callout-fold {
    color: rgba(0, 1, 0, );
}
.theme-light .callout-fold {
    filter: brightness(0.75);
}
.theme-dark .callout-fold {
    filter: brightness(1);
}
.theme-light .callout-content {
    background: hsl(36, 37%, 92%);
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.05) inset;
}
.theme-dark .callout-content {
    /*background: hsl(27, 15%, 12%);*/
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.175) inset;
}
/* Callout Colors */
.theme-light, .theme-dark {
    --callout-color-general: 200, 175, 155;
    --callout-color-note: 145, 125, 105;
    --callout-color-abstract: 34, 152, 225;
    --callout-color-summary: 255, 221, 88;
    --callout-color-tldr: 240, 180, 225;
    --callout-color-info: 0, 171, 197;
    --callout-color-todo: 0, 171, 197;
    --callout-color-tip: 70, 206, 185;
    --callout-color-hint: 70, 206, 185;
    --callout-color-important: 244, 87, 93;
    --callout-color-success: 100, 175, 255;
    --callout-color-success-bg: linear-gradient(45deg, #ef92af 70, #7bd7e9 70, #81e1a5 70, #ffda2b 70);
    --callout-color-check: 0, 200, 83;
    --callout-color-done: 0, 200, 83;
    --callout-color-question: 130, 190, 235;
    --callout-color-help: 150, 95, 255;
    --callout-color-faq: 130, 190, 235;
    --callout-color-warning: 255, 161, 32;
    --callout-color-caution: 255, 161, 32;
    --callout-color-attention: 255, 161, 32;
    --callout-color-failure: 226, 72, 86;
    --callout-color-missing: 226, 72, 86;
    --callout-color-danger: 226, 72, 86;
    --callout-color-error: 226, 72, 86;
    --callout-color-bug: 206, 91, 124;
    --callout-color-example: 173, 102, 234;
    --callout-color-quote: 158, 158, 158;
    --callout-color-cite: 158, 158, 158;
   /* Primary Custom Callouts */
    --callout-color-pro: 147, 241, 62;
    --callout-color-con: 255, 75, 75;
    --callout-color-idea: 247, 141, 25;
    --callout-color-morning: 149, 197, 194;
    --callout-color-meditate: 149, 197, 194;
    --callout-color-money: 144, 194, 120;
    --callout-color-backlog: 79, 160, 178;
    --callout-color-inprogress: 226, 183, 35;
    --callout-color-currently: 57, 210, 169;
    --callout-color-target: 247, 87, 87;
    --callout-color-btc: 236, 136, 25;
    --callout-color-resources: 206, 91, 124;
    --callout-color-links: 57, 175, 222;
    --callout-color-related: 124, 126, 255;
    --callout-color-world: 185, 208, 57;
    --callout-color-backstory: 72, 108, 231;
    --callout-color-feature: 255, 161, 32;
    --callout-color-conflict: 232, 101, 101;
    --callout-color-translate: 100, 214, 255;
    --callout-color-shop: 237, 160, 200;
}
/* Callout Type Styling */
div.callout {
    --callout-color: var(--callout-color-general);
}
div.callout[data-callout="note"] {
    --callout-color: var(--callout-color-note);
}
div.callout[data-callout="abstract"] {
    --callout-icon: loader;
    --callout-color: var(--callout-color-abstract);
}
div.callout[data-callout="summary"] {
    --callout-icon: align-justify;
    --callout-color: var(--callout-color-summary);
}
div.callout[data-callout="tldr"] {
    --callout-icon: clock-4;
    --callout-color: var(--callout-color-tldr);
}
div.callout[data-callout="tldr"] .callout-title {
    text-transform: uppercase;
}
div.callout[data-callout="info"] {
    --callout-color: var(--callout-color-info);
}
div.callout[data-callout="todo"] {
    --callout-icon: check-square;
    --callout-color: var(--callout-color-todo);
}
div.callout[data-callout="tip"] {
    --callout-icon: clover;
    --callout-color: var(--callout-color-tip);
}
div.callout[data-callout="hint"] {
    --callout-icon: search;
    --callout-color: var(--callout-color-hint);
}
div.callout[data-callout="important"] {
    --callout-icon: asterisk;
    --callout-color: var(--callout-color-important);
}
div.callout[data-callout="done"] {
    --callout-icon: check;
    --callout-color: var(--callout-color-done);
}
div.callout[data-callout="question"] {
    --callout-color: var(--callout-color-question);
}
div.callout[data-callout="help"] {
    --callout-color: var(--callout-color-help);
}
div.callout[data-callout="faq"] {
    --callout-color: var(--callout-color-faq);
}
div.callout[data-callout="warning"] {
    --callout-color: var(--callout-color-warning);
}
div.callout[data-callout="caution"] {
    --callout-color: var(--callout-color-caution);
}
div.callout[data-callout="attention"] {
    --callout-color: var(--callout-color-attention);
}
div.callout[data-callout="missing"] {
    --callout-color: var(--callout-color-missing);
}
div.callout[data-callout="danger"] {
    --callout-color: var(--callout-color-danger);
}
div.callout[data-callout="error"] {
    --callout-icon: alert-circle;
    --callout-color: var(--callout-color-error);
}
div.callout[data-callout="bug"] {
    --callout-color: var(--callout-color-bug);
}
div.callout[data-callout="example"] {
    --callout-color: var(--callout-color-example);
}
div.callout[data-callout="quote"] {
    --callout-color: var(--callout-color-quote);
}
div.callout[data-callout="pro"] {
    --callout-icon: thumbs-up;
    --callout-color: var(--callout-color-pro);
}
div.callout[data-callout="con"] {
    --callout-icon: thumbs-down;
    --callout-color: var(--callout-color-con);
}
div.callout[data-callout="idea"] {
    --callout-icon: lightbulb;
    --callout-color: var(--callout-color-idea);
}
div.callout[data-callout="coffee"] {
    --callout-icon: coffee;
    --callout-color: var(--callout-color-morning);
}
div.callout[data-callout="meditate"] {
    --callout-icon: sprout;
    --callout-color: var(--callout-color-meditate);
}
div.callout[data-callout*="celebrate"], div.callout[data-callout*="success"] {
    --callout-icon: flag;
    --callout-color: var(--callout-color-success);
}
div.callout[data-callout*="celebrate"] .callout-title, div.callout[data-callout*="success"] .callout-title {
    background: var(--callout-color-success-bg);
    background-size: 800% 800%;
    animation: animateCelebrate 2s ease infinite;
}
div.callout[data-callout*="celebrate"] .callout-icon, div.callout[data-callout*="success"] .callout-icon {
    transform: rotate(-20deg);
}
div.callout[data-callout*="celebrate"] .callout-icon, div.callout[data-callout*="success"] .callout-icon, div.callout[data-callout*="celebrate"] .callout-fold, div.callout[data-callout*="success"] .callout-fold {
    color: var(--md-color-text);
}
div.callout[data-callout="money"] {
    --callout-icon: banknote;
    --callout-color: var(--callout-color-money);
}
div.callout[data-callout="backlog"] {
    --callout-icon: inbox;
    --callout-color: var(--callout-color-backlog);
}
div.callout[data-callout="doing"] {
    --callout-icon: rocket;
    --callout-color: var(--callout-color-inprogress);
}
div.callout[data-callout="currently"] {
    --callout-icon: haze;
    --callout-color: var(--callout-color-currently);
}
div.callout[data-callout="target"] {
    --callout-icon: target;
    --callout-color: var(--callout-color-target);
}
div.callout[data-callout="btc"] {
    --callout-icon: bitcoin;
    --callout-color: var(--callout-color-btc);
}
div.callout[data-callout="resources"] {
    --callout-icon: bookmark;
    --callout-color: var(--callout-color-resources);
}
div.callout[data-callout="links"] {
    --callout-icon: link-2;
    --callout-color: var(--callout-color-links);
}
div.callout[data-callout="related"] {
    --callout-icon: shuffle;
    --callout-color: var(--callout-color-related);
}
div.callout[data-callout="world"] {
    --callout-icon: globe-2;
    --callout-color: var(--callout-color-world);
}
div.callout[data-callout="backstory"] {
    --callout-icon: feather;
    --callout-color: var(--callout-color-backstory);
}
div.callout[data-callout="feature"] {
    --callout-icon: feather;
    --callout-color: var(--callout-color-feature);
}
div.callout[data-callout="encounter"] {
    --callout-icon: mountain-snow;
    --callout-color: var(--callout-color-conflict);
}
div.callout[data-callout="translate"] {
    --callout-icon: lucide-languages;
    --callout-color: var(--callout-color-translate);
}
div.callout[data-callout="shop"] {
    --callout-icon: shopping-cart;
    --callout-color: var(--callout-color-shop);
}
div.callout[data-callout="anchor"] {
    --callout-icon: anchor;
    --callout-color: var(--callout-color-translate);
}
div.callout[data-callout="sigma"] {
    --callout-icon: sigma;
    --callout-color: var(--callout-color-translate);
}
div.callout[data-callout="twitter"] {
    --callout-icon: twitter;
    --callout-color: var(--callout-color-translate);
}
div.callout[data-callout="inspect"] {
    --callout-icon: inspect;
    --callout-color: var(--callout-color-related);
}
div.callout[data-callout="fingerprint"] {
    --callout-icon: fingerprint;
    --callout-color: var(--callout-color-related);
}
/* animation for celebrate callout */
@keyframes animateCelebrate {
    0% {
        background-position: 0% 47%;
   }
    50% {
        background-position: 100% 54%;
   }
    100% {
        background-position: 0% 47%;
   }
}

/* fix */
.cm-embed-block>.edit-block-button {
    right: 1px !important;
    top: 1px !important;
    border-radius: 6px !important;
}